<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The quickest way to startup web projects with free, open source & readily available bootstrap templates & theme blocks. All you need is to unzip the bootstrap crew themes!">
  <meta name="keywords" content="HTML,CSS,Bootstrap,JavaScript">
  <meta name="author" content="Bootstrap Crew">
  <meta name="google-site-verification" content="">
  <title>
    {% if page.meta-title == "Bootstrap Crew" %}
      {{ page.meta-title }}
      -  Free bootstrap templates & theme blocks
    {% else %}
      {{ page.meta-title }}
      - Bootstrap Crew
    {% endif %}
  </title>
    
  <!-- Canonical -->
  <link rel="canonical" href="https://bootstrapcrew.com/index.html">
 
  <!-- Bootstrap core CSS -->
  

  <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
  <!-- Custom styles -->
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/fontawesome/css/fontawesome-all.css" type="text/css" rel="stylesheet">
	 <link rel="stylesheet" href="assets/css/animate.min.css">
   
  <!-- Fav Icon and Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/image/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/image/favicons/fav-32x32.png" >
    <link rel="icon" type="image/png" sizes="16x16" href="assets/image/favicons/fav-16x16.png" >
    <link rel="mask-icon" href="assets/image/favicons/safari-tab.svg" color="#ffffff" >
    <link rel="manifest" href="assets/image/favicons/manifest.json">
    <meta name="msapplication-config" content="assets/image/favicons/browser-config.xml" >
	
  <!-- Open Graph -->
    <meta property="og:title" content="Bootstrap Crew - Free bootstrap templates & theme blocks" >
    <meta property="og:site_name" content="Bootstrap Crew" >
    <meta property="og:type" content="website" >
    <meta property="og:description" content="The quickest way to startup web projects with free, open source & readily available bootstrap templates & theme blocks. All you need is to unzip the bootstrap crew themes!" >
    <meta property="og:image" content=">
    <meta property="og:url" content="https://bootstrapcrew.com/" >
  
 <!-- Twitter -->
    <meta name="twitter:card" content="summary" >
    <meta name="twitter:site" content="@bootstrap_crew" >
    <meta name="twitter:title" content="Bootstrap Crew" >
    <meta name="twitter:description" content="The quickest way to startup web projects with free, open source & readily available bootstrap templates & theme blocks. All you need is to unzip the bootstrap crew themes!" >
    <meta name="twitter:image" content="" >
 
  </head>
